<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employeeForm.value)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">

      <div class="form-group" [class.has-error]="name.invalid && name.touched">
        <label for="name" class="control-label">Name</label>
        <input id="name" required type="text" class="form-control" name="name" [(ngModel)]="employee.name"
          #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched">
          Name is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input [required]="contactPreference.value=='email'" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
          id="email" type="text" class="form-control" name="email" [(ngModel)]="employee.email" #email="ngModel">
        <span class="help-block" *ngIf="email.invalid && email.touched">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.invalid && email.touched">
          Email is Invalid
        </span>
      </div>

      <div class="form-group" [class.has-error]="phoneNumber.invalid && phoneNumber.touched">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input id="phoneNumber" [required]="contactPreference.value=='phoneNumber'" name="phoneNumber"
          [(ngModel)]="employee.phoneNumber" #phoneNumber="ngModel" type="text" class="form-control">
        <span class="help-block" *ngIf="phoneNumber.invalid && phoneNumber.touched">
          phone number is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="contactPreference.invalid && contactPreference.touched">
        <label class="control-label">Contact Prefernce</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="email" required #contactPreference="ngModel" name="contactPreference"
              [(ngModel)]="employee.contactPreference">
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phoneNumber" required #contactPreference="ngModel" name="contactPreference"
              [(ngModel)]="employee.contactPreference">
            Phone Number
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.invalid && contactPreference.touched">
          Contact preference is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="gender.invalid && gender.touched">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel" value="male" [(ngModel)]="employee.gender">
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel" value="female" [(ngModel)]="employee.gender">
            Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.invalid && gender.touched">
          Gender is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="isActive.touched && isActive.invalid">
        <div class="form-control">
          <label class="checkbox-inline control-label">
            <input type="checkbox" name="isActive" [required]="employee.isActive==null" #isActive="ngModel"
              [(ngModel)]="employee.isActive">Is Active
          </label>
        </div>
        <span class="help-block" *ngIf="isActive.touched && isActive.invalid">
          Is Active is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="department.touched && department.invalid">
        <label for="department" class="control-label">Department</label>
        <select id="department" appSelectorValidator name="department" #department="ngModel"
          [(ngModel)]="employee.department" class="form-control">
          <option ngValue="-1">Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{dept.name}}
          </option>
        </select>
        <span class="help-block" *ngIf="department.touched && department.invalid">
          department is required
        </span>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label for="dateOfBirth">Date of birth</label>
          <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" type="text" bsDatepicker
            [bsConfig]="datepickerConfig" placement="right" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="photopath">Photo path</label>
        <input required id="photopath" name="photopath" [(ngModel)]="employee.photoPath" type="text"
          class="form-control">
      </div>

      <div class="form-group">
        <button (click)="togglePhotoPreview()" class="btn btn-primary">
          {{previewPhoto ? "Hide":"Show"}} preview
        </button>
      </div>

      <div class="form-group">
        <img [src]="employee.photoPath" height="200" weight="200" *ngIf="previewPhoto" />
      </div>

      <div class="form-group" [class.has-error]="password.invalid && password.touched">
        <label for="password" class="control-label">password</label>
        <input id="password" required type="text" class="form-control" name="password" [(ngModel)]="employee.password"
          #password="ngModel">
        <span class="help-block" *ngIf="password.invalid && password.touched">
          Password is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="confirmPassword.invalid && confirmPassword.touched">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input id="confirmPassword" appConfirmEqualValidator="password" required type="text" class="form-control"
          name="confirmPassword" [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
        <span class="help-block" *ngIf="confirmPassword.error?.required && confirmPassword.touched">
          Confirm Password is required
        </span>
        <span class="help-block" *ngIf="confirmPassword.errors?.notEqual && confirmPassword.touched">
          Password and confirm password doesnot match
        </span>
      </div>

    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
Angular generated form Model : {{employeeForm.value | json}}
<br />
<br />
Our Employee Model : {{ employee | json}}
