<div class="container">
  <nav class="navbar navbar-default">
    <h1 style="text-align: center">Bright Hopes English school</h1>
    <h6 style="text-align: center">Manpur Durga Asthan ,Gaya</h6>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a routerLink="create">create</a>
      </li>
      <li>
        <a routerLink="list">list</a>
      </li>
      <li>
        <a routerLink="insert">insert</a>
      </li>
      <li>
        <a routerLink="get">get</a>
      </li>
      <li>
        <a routerLink="signup">signup</a>
      </li>
      <li>
        <a routerLink="registration">Registration</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
